/.vs/Freera.slnx
/.vs/ProjectEvaluation
/*/obj/
/*/bin/
/Freera.App/bin/Debug/net10.0/Freera.App.dll
/Freera.App/bin/Debug/net10.0/Freera.App.exe
/Freera.App/bin/Debug/net10.0/Freera.App.pdb
/Freera.App/obj/Debug/net10.0/ref/Freera.App.dll
/Freera.App/obj/Debug/net10.0/refint/Freera.App.dll
/Freera.App/obj/Debug/net10.0/apphost.exe
/Freera.App/obj/Debug/net10.0/Freera.App.AssemblyInfo.cs
/Freera.App/obj/Debug/net10.0/Freera.App.AssemblyInfoInputs.cache
/Freera.App/obj/Debug/net10.0/Freera.App.dll
/Freera.App/obj/Debug/net10.0/Freera.App.pdb
/Freera.Interfaces/bin/Debug/net10.0/Freera.Interfaces.dll
/Freera.Interfaces/bin/Debug/net10.0/Freera.Interfaces.pdb
/Freera.Interfaces/obj/Debug/net10.0/ref/Freera.Interfaces.dll
/Freera.Interfaces/obj/Debug/net10.0/refint/Freera.Interfaces.dll
/Freera.Interfaces/obj/Debug/net10.0/Freera.Interfaces.AssemblyInfo.cs
/Freera.Interfaces/obj/Debug/net10.0/Freera.Interfaces.AssemblyInfoInputs.cache
/Freera.Interfaces/obj/Debug/net10.0/Freera.Interfaces.csproj.CoreCompileInputs.cache
/Freera.Interfaces/obj/Debug/net10.0/Freera.Interfaces.dll
/Freera.Interfaces/obj/Debug/net10.0/Freera.Interfaces.pdb
/Freera.Model/obj/Debug/net10.0/Freera.Model.AssemblyInfo.cs
/Freera.Model/obj/Debug/net10.0/Freera.Model.AssemblyInfoInputs.cache
/Freera.Model/obj/Debug/net10.0/Freera.Model.csproj.AssemblyReference.cache
/Freera.Model/obj/Debug/net10.0/Freera.Model.csproj.CoreCompileInputs.cache
